
/* ---------- Color Module Styles ----------- */

body {
  color: #301313;
}
#header {
  background-color: #373637;
  background-image: -moz-linear-gradient(top, #373737 0%, #373637 100%);
  background-image: -ms-linear-gradient(top, #373737 0%, #373637 100%);
  background-image: -o-linear-gradient(top, #373737 0%, #373637 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #373737), color-stop(1, #373637));
  background-image: -webkit-linear-gradient(top, #373737 0%, #373637 100%);
  background-image: linear-gradient(top, #373737 0%, #373637 100%);
}
a, a:hover, a:focus, .link:hover, .link:focus {
  color: #c83737;
}
.sidebar .block {
  background-color: #ffd5d5;
}
body:not(:target) .region-primary-menu .menu-toggle,
.sidebar .block > h2,
body.node--type-event #event-url a.button {
  background: #ff8080;
  color: #ffffff;
}
#page-wrapper,
#footer-wrapper {
  background: #2c2c28;
}
.region-header,
 .region-header a,
 .region-header li a.active,
 div.site-branding__text,
 div.site-branding__name a:link,
 div.site-branding__name a:visited,
 div.site-branding__name a:hover,
 div.site-branding__name a:active {
   color: #ffffff;
 }
#triptych h2 {
  background: #ff7f2a;
  color: #3b3b3b;
}
h2.title, h3.title, #content .block > h2 {
  background: #ff7f2a;
}
@media all and (min-width: 901px) {
  #block-openchurch-theme-main-menu div.content > ul > li > a {
    color: #ffffff;
  }
  #block-openchurch-theme-main-menu div.content > ul ul {
    background: #ffd5d5;
  }
  #block-openchurch-theme-main-menu div.content > ul > li > a.is-active,
  #block-openchurch-theme-main-menu div.content > ul > li.menu-item--active-trail > a {
    border-top-color: #ffd5d5;
  }
  #block-openchurch-theme-main-menu div.content > ul > li > a:hover {
    border-top: 7px solid #800000;
  }
  #block-openchurch-theme-main-menu div.content > ul ul a {
    color: #000000;
  }
  #block-openchurch-theme-main-menu div.content > ul ul a:hover {
    border-top-color: #333333;
    background: #800000;
  }
  #block-openchurch-theme-main-menu div.content > ul ul a {
    border-top: 5px solid #eeeeee;
  }
}